*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html
{
    margin: 0;
    height: 0;
    width: 100%;
    height: 100%;
}
body
{
    min-width: 700px;
    min-height: 400px;
    font-family: Roboto, sans-serif;
    position: relative;
}
.chat_keep
{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    color:#555555;
    position: relative;
    padding-bottom: 48px
}
.messege>span
{
    font-weight: 400;
    padding-right: 10px;
}
.chat
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 30px;
}
li
{
    list-style: none;
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: 100;
}
.green
{
    color: #09aa10;
}
.red
{
    color: #bf0b0b;
}
.login,.select_room
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 2;
}
.room
{
    width: 28%;
    display: block;
    text-align: center;
    margin: 0 2.5%;
    cursor: pointer;
    font-weight: 100;
    border: 1px solid #ececec;
    padding: 15px;
}
.room:hover
{
        background-color: #f2efef;
}
.form_room
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.select_room
{
    z-index: 3;
}
.form_log
{
    padding: 20px;
    width: 600px;
    -webkit-appearance: none;
    appearance:none;
    display: block;
}
.name
{
    -webkit-appearance: none;
    appearance:none;
    border: none;
    background-color: #fff;
    padding: 5px;
    width: 100%;
    text-align: center;
    font-size: 34px;
    display: block;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid #cbcbcb;
    font-weight: 100;
     font-family: Roboto, sans-serif;
    color:#555555;
}
.messege_main
{
    -webkit-appearance: none;
    appearance:none;
    border: 1px solid #555555;
    background-color: #fff;
    padding: 10px 15px;
    padding-right: 150px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    display: block;
    outline: none;
    font-weight: 100;
    font-family: Roboto, sans-serif;
    color:#555555;
}
.send
{
    -webkit-appearance: none;
    border: 1px solid #000000;
    background-color: rgb(0, 0, 0);
    color: #fff;
    appearance: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 15px;
    display: flex;
    font-weight: 100;
    padding: 10px 15px;
    font-family: Roboto;
    align-items: center;
    text-align: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
}
.al_mes
{
    text-align: center;
}
.al_mes>span
{
    padding-left: 10px;
    font-size: 18px;
    font-weight: 300;
}
.send:hover
{
    background-color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.8);
}
.messege_box
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
    height: 46px;
}
label
{
    width: 100%;
    text-align: center;
    font-size: 40px;
    display: block;
    padding-bottom: 50px;
    font-weight: 100;
    color:#555555;
}
.name::-webkit-input-placeholder {color:#555555;}
.name::-moz-placeholder          {color:#555555;}/* Firefox 19+ */
.name:-moz-placeholder           {color:#555555;}/* Firefox 18- */
.name:-ms-input-placeholder      {color:#555555;}
.name:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.name:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}/* Firefox 19+ */
.name:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}/* Firefox 18- */
.name:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}